      h1{
        background-color: black;
        color: #ffffff;
        text-align: center;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      h1:hover{
        background-color: red;
      }

      p{
        background-color: yellowgreen;
      }

      span{
        color: blue;
        font-weight: bold;
      }

      #movies{
        color: #c60000;

      }

      .bg-blue{
        background-color: cadetblue;
      }